<?xml version="1.0"?>

<!--
  Copyright (c) 2011, PAL Robotics, S.L.
  All rights reserved.

  This work is licensed under the Creative Commons Attribution-NonCommercial-NoDerivs 3.0 Unported License.
  To view a copy of this license, visit http://creativecommons.org/licenses/by-nc-nd/3.0/ or send a letter to
  Creative Commons, 444 Castro Street, Suite 900, Mountain View, California, 94041, USA.
-->

<robot xmlns:sensor="http://playerstage.sourceforge.net/gazebo/xmlschema/#sensor"
       xmlns:controller="http://playerstage.sourceforge.net/gazebo/xmlschema/#controller"
       xmlns:interface="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface"
       xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:macro name="bumper_reem_gazebo" params="name ros_topic update_rate">
   <gazebo reference="${name}_link">
        <selfCollide>false</selfCollide>
        <sensor:contact name="{name}_contact">
           <geom>base_footprint_geom_${name}_link</geom>
           <updateRate>100.0</updateRate>
             <controller:reem_bumper_gazebo name="reem_gazebo_bumper_controller1" plugin="libreem_bumper_gazebo.so">
             <alwaysOn>true</alwaysOn>
             <updateRate>100.0</updateRate>
             <frameId>${name}_link</frameId>
             <bumperTopicName>${ros_topic}</bumperTopicName>
             <interface:bumper name="${name}_iface1" />
           </controller:reem_bumper_gazebo>
       </sensor:contact>
    </gazebo> 
  </xacro:macro>

</robot>
